#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,body{
  background-image: linear-gradient(to right, #4727a8 0%, rgba(0, 0, 0, 0.414) 100%);
}

.content{
  max-width: 40rem;
  margin-top: -10vh;
}

.text-message{
  font-size: 75px;
  background: -webkit-linear-gradient(#93edf9, #c64cff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message{
  font-size: 30px;
  font-style: italic;
  color: #fff;
}

